<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/start.css">
    <title>Quiz App</title>
    <!-- <script>
    function showQuestions() {
        console.log("Showing questions")
    }
     </script> -->
</head>
<body>

<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
<script>
// Initialize Firebase
      var config = {
        apiKey: "AIzaSyAASntt54R-xeea7z_G2hp6qCQ_cH8sl4k",
        authDomain: "quizapp-3676c.firebaseapp.com",
        databaseURL: "https://quizapp-3676c.firebaseio.com",
        projectId: "quizapp-3676c",
        storageBucket: "quizapp-3676c.appspot.com",
        messagingSenderId: "515269296181"
      };
      firebase.initializeApp(config);
</script>
