<div class="container how-to-play">
    <h1 class="text-center">AREAS COVERED</h1>
    <div class="row">
        <div class="col-md-3 col-sm-4 text-center">
            <div class="well text-center">
                <h2>Mathematics</h2>
                <p>All area touching basic mathematics</p>
                <i class="fa fa-calculator fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 ">
            <div class="well text-center">
                <h2>English</h2>
                <p>Know if your grammar is top notch</p>
                <i class="fa fa-language fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 ">
            <div class="well text-center">
                <h2>General</h2>
                <p>General knowledge of everything around</p>
                <i class="fa fa-book fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 ">
            <div class="well text-center">
                <h2>Programming</h2>
                <p>All things relating to computer</p>
                <i class="fa fa-desktop fa-4x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" charset="utf-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
<script src="js/hide.js" charset="utf-8"></script>
</body>

</html>
