<%include head.ejs %>
        <div class="container">
            <div class="row">
                <div class="col-md-3 desc">
                    <h1>QUICK QUIZ</h1>
                    <p>A quiz that tests Awareness and Sharpness of the mind.</p>
                    <button><a href="/signup">GET STARTED </a><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
                <div class="col-md-9 ">
                    <img src="images/thinking.jpg" alt="" class="image-responsive pull-right image-right">
                </div>
            </div>
        </div>
    </div>
    <%include foot.ejs %>
